@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: sans-serif;
}

:root {
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;
}

:root {
    --second-color: #0074B7;
    --second-color-alt: #60A3D9;
    --white-color: #FAFAFF;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #F0F1F3;
}


:root {
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
}

@media screen and (min-width: 1024px) {
    :root {
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    }
}

:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}


:root {
    --z-tooltip: 10;
    --z-fixed: 100;
}

html{
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--second-color);
}

li{
    list-style-type: none;
}

img{
  width: 100%;
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--gray-color);
}




.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}


.nav__item{
    margin-bottom: var(--mb-4);
}

.nav__link{
    color: var(--dark-color);
    font-size: var(--font-semi);
}

.nav__link:hover{
    color: var(--second-color);
}

.nav-logo{
    font-weight: var(--font-bold);
}

.nav__toggle{
    font-size: 1.5rem;
    cursor: pointer;
}

.show{
    right: 0;
}

.active{
    color: var(--second-color);
}


.home__container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  place-items: center;
}

.home__data{
  width: 100%;
  text-align: center;
}

.home__title{
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  color: var(--second-color);
  margin-bottom: var(--mb-2);
}

.home__img{
  width: 100%;
}

.about__container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  place-items: center;
  margin: 1rem 0;
}

.about__title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);;
  color: var(--second-color);
  margin-bottom: var(--mb-3);
}

.about__data{
  font-size: var(--normal-font-size);
}

.about__img-img{
  border-radius: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.about__data{
  margin: 1rem 0;
  text-align: center;
}

.services__container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  place-items: center;
  margin: 1rem 0;
}

.services__data{
  width: 100%;
  text-align: center;
}

.services__title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);;
  color: var(--second-color);
  margin-bottom: var(--mb-3);
}

.services__info{
  width: 100%;
  margin-bottom: var(--mb-3);
  text-align: justify;
}

.service__card{
  position: relative;
  border-radius: 1rem;
  margin: 1rem 0;
}

.service__card-img{
  border-radius: 1rem;
}

.service__card-data{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;

  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(96, 163, 217, 0.6);
  opacity: 0;
  transition: 0.3s;
}

.card__data-title{
  text-align: center;
  color: #fff;
}

.service__card-data:hover{
  opacity: 1;
}

.contact__container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  place-items: center;
  margin: 1rem 0;
}

.contact__title{
  text-align: center;
}

.contact__form{
  width: 100%;
  text-align: center;
}

.contact__title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);;
  color: var(--second-color);
  margin-bottom: var(--mb-3);
}

.contact__input{
  width: 100%;
  padding: 1rem;
  margin-bottom: var(--mb-3);
  border: 1px solid var(--gray-color);
  border-radius: 1rem;
  outline: none;
  transition: 0.3s;
}

.contact__input-textarea{
  height: 8rem;
}

.contact__input:focus{
  border: 1px solid var(--second-color);
}

.contact__button{
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--second-color);
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s;
}

.contact__button:hover{
  background-color: var(--second-color-alt);
}


.footer__container{
  text-align: center;
  padding: 1rem;
}

.heart{
  color: red;
}

@media screen and (min-width: 768px) {
    body{
      margin: 0;
    }
  
    .section-all{
      margin-bottom: var(--mb-4);
    }
  
    .nav{
      height: calc(var(--header-height) + 1rem);
      justify-content: initial;
    }
  
    .nav__menu{
      margin-left: auto;
    }
  
    .nav__list{
      display: flex;
    }
  
    .nav__item{
      margin-left: var(--mb-4);
      margin-bottom: 0;
    }
  
    .nav__toggle{
      display: none;
    }
  
    .home__container{
      grid-template-columns: repeat(2, 1fr);
      height: 100vh;
    }
  
    .home__data{
      padding: 0;
      height: max-content;
      align-self: center;
      text-align: start;
    }
  
    .home__title{
      line-height: .8;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  
    .home__img{
      width: 400px;
    }

    .about__img-img{
      width: 300px;
    }

    .about__container{
      grid-template-columns: repeat(2, 1fr);
    }

    .about__data{
      text-align: left;
    }

    .services__container{
      margin: 4rem 0;
    }

    .services__container-img{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2rem;
    }

    .contact__container{
      margin: 5rem 0;
      grid-template-columns: repeat(2, 1fr);
    }

    .contact__title{
      text-align: center;
    }
  
    .footer__container{
      padding: 2rem 0;
    }
  }
  
  
  @media screen and (min-width: 1024px) {
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }

    .home__container{
      grid-template-columns: repeat(2, 1fr);
    }
  
    .home__img{
      width: 500px;
    }

    .about__img-img{
      width: 400px;
    }

    .about__data{
      text-align: left;
    }
  }