@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: sans-serif;
}

:root {
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;
}

:root {
    --second-color: #0074B7;
    --second-color-alt: #60A3D9;
    --white-color: #FAFAFF;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #F0F1F3;
}


:root {
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
}

@media screen and (min-width: 1024px) {
    :root {
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    }
}

:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}


:root {
    --z-tooltip: 10;
    --z-fixed: 100;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--gray-color);
}




.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}


.nav__item{
    margin-bottom: var(--mb-4);
}

.nav__link{
    color: var(--dark-color);
    font-size: var(--font-semi);
}

.nav__link:hover{
    color: var(--second-color);
}

.nav-logo{
    font-weight: var(--font-bold);
}

.nav__cart{
    font-size: 1.5rem;
    margin-right: var(--mb-2);
}

.nav__toggle{
    font-size: 1.5rem;
    cursor: pointer;
}

.show{
    right: 0;
}

.active{
    color: var(--second-color);
}




@media screen and (min-width: 768px) {
    body{
      margin: 0;
    }
  
    .section-all{
      margin-bottom: var(--mb-4);
    }
  
    .nav{
      height: calc(var(--header-height) + 1rem);
      justify-content: initial;
    }
  
    .nav__menu{
      margin-left: auto;
    }
  
    .nav__list{
      display: flex;
    }
  
    .nav__item{
      margin-left: var(--mb-4);
      margin-bottom: 0;
    }
  
    .nav__toggle{
      display: none;
    }
  
    .home__container{
      height: 100vh;
    }
  
    .home__data{
      padding: 0;
      height: max-content;
      align-self: center;
    }
  
    .home__title{
      line-height: .8;
      letter-spacing: 1.5rem;
    }
  
    .home__img{
      width: 370px;
    }
  
    .collection__container{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
  
    .collection__box{
      padding: .5rem 3rem 0;
    }
  
    .collection__img{
      width: 130px;
    }
  
    .featured__container,
    .sponsors__container,
    .footer__container{
      grid-template-columns: repeat(4, 1fr);
    }
  
    .offer__data{
      padding: 5rem 0;
    }
  
    .new__container{
      grid-template-columns: repeat(3, 1fr);
    }
  
    .newsletter__form{
      width: 400px;
      margin: 0 auto;
    }
  
    .footer__container{
      padding: 2rem 0;
    }
  }
  
  
  @media screen and (min-width: 1024px) {
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
  
    .home__data{
      padding-left: 7rem;
    }
  
    .home__img{
      width: 500px;
      right: 15%;
    }
  }